.footer {
    background-color: #8adff6;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 35px;
    padding: 65px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    padding-top: 15px;
    p {
        font-size: 16px;
    }
}

.header {
    background-color: #8adff6;
    padding-bottom: 3px;
    padding-top: 5px;
    margin-bottom: 35px;
    text-align: "center";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.tabs-container-scroll {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.btn-primary {
    background-color: #8adff6;
    border-radius: 50px 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.load-more {
    background-color: #8adff6;
    border-radius: 50px 50px;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 100px;
    margin-left: 20px;
    padding-right: 100px;
}
